@model RazorSample.Web.ViewModels.VmBase;

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@Model.Title</title>
  <link rel="stylesheet" href="~/styles.min.css" />
</head>
<body class="page">

  <header class="header">
    <a class="header__logo"><span>Razor Sample</span></a>
  </header>

  <nav class="nav-bar">
    @if (Model.Navs != null)
    {
      foreach (var nav in Model.Navs)
      {
        if (nav.Rel == Model.SelectedNav)
        {
          <a class="nav-bar__action nav-bar__action_active" rel="@nav.Rel" title="@nav.Title" href="@nav.Href"><span>@nav.Title</span></a>
        }
        else
        {
          <a class="nav-bar__action" rel="@nav.Rel" title="@nav.Title" href="@nav.Href"><span>@nav.Title</span></a>
        }
      }
    }
  </nav>

  <nav class="breadcrumb-bar">
    @if (Model.Breadcrumbs != null)
    {
      var enumerator = Model.Breadcrumbs.GetEnumerator();

      if (enumerator.MoveNext())
      {
        var current = enumerator.Current;

        while (enumerator.MoveNext())
        {
          <a class="breadcrumb-bar__item" rel="@current.Rel" title="@current.Title" href="@current.Href"><span>@current.Title</span></a>

          current = enumerator.Current;
        }

        <span class="breadcrumb-bar__item">@current.Title</span>
      }
    }
  </nav>

  <main class="main">
    @if (Model.Actions != null)
    {
      <nav class="action-bar">
        <nav class="action-list">
          @foreach (var action in Model.Actions)
          {
            <a class="action-list__item" rel="@action.Rel" title="@action.Title" href="@action.Href"><span>@action.Title</span></a>
          }
        </nav>
      </nav>
    }

    @RenderBody()
  </main>
</body>
</html>
