@model RazorSample.Vm.IFormVm

<form id="employee" method="post" class="form" data-view>
    <div class="form__controls">
      @foreach (var vm in Model.Inputs)
      {
        <div class="control" id="control_@vm.Name">
          <label class="control__label control__label_required" for="@vm.Name">@vm.DisplayName</label>
          <input class="control__field" type="text" name="@vm.Name" value="@vm.Value">
          @if (ViewContext.ModelState.TryGetValue(vm.Name, out Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateEntry entry))
          {
            var error = entry.Errors.FirstOrDefault();

            if (error != null)
            {
              <span class="control__error">@error.ErrorMessage</span>
            }
          }
        </div>
      }
      @foreach (var vm in Model.Selects)
      {
        <div class="control" id="control_@vm.Name" data-hr>
          @{
            await Html.RenderPartialAsync("SelectPartialView", vm);
          }
        </div>
      }
    </div>
    <div class="form__actions">
      <button type="submit" class="action action_primary"><span>Ok</span></button>
    </div>
  </form>
