@model RazorSample.Web.ViewModels.ICommandSource<RazorSample.Web.Commands.ClientCommandBase>

<form method="post">
  <label for="@nameof(Model.Command.Name)">Name:</label>
  <input type="text" name="@nameof(Model.Command.Name)" value="@Model.Command.Name">

  <label for="@nameof(Model.Command.ClientNo)">Client No:</label>
  <input type="text" name="@nameof(Model.Command.ClientNo)" value="@Model.Command.ClientNo">

  <label for="@nameof(Model.Command.OrganizationNo)">Organization No:</label>
  <input type="text" name="@nameof(Model.Command.OrganizationNo)" value="@Model.Command.OrganizationNo">

  <button type="submit"><span>Ok</span></button>
</form>
