@model RazorSample.Web.ViewModels.ICommandSource<RazorSample.Web.Commands.ClientCommandBase>

<form id="client" method="post" class="form">
  <div class="form__controls">
    <div class="control" id="control_@nameof(Model.Command.Name)">
      <label class="control__label control__label_required" for="@nameof(Model.Command.Name)">Name:</label>
      <input class="control__field" type="text" name="@nameof(Model.Command.Name)" value="@Model.Command.Name">
    </div>
    <div class="control" id="control_@nameof(Model.Command.ClientNo)">
      <label class="control__label control__label_required" for="@nameof(Model.Command.ClientNo)">Client No:</label>
      <input class="control__field" type="text" name="@nameof(Model.Command.ClientNo)" value="@Model.Command.ClientNo">
    </div>
    <div class="control" id="control_@nameof(Model.Command.OrganizationNo)">
      <label class="control__label control__label_required" for="@nameof(Model.Command.OrganizationNo)">Organization No:</label>
      <input class="control__field"type="text" name="@nameof(Model.Command.OrganizationNo)" value="@Model.Command.OrganizationNo">
    </div>
  </div>
  <div class="form__actions">
    <button type="submit" class="action action_primary"><span>Ok</span></button>
  </div>
</form>
